body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
  display: flex;
  align-items: baseline;
  padding: 10px;
  flex-wrap: wrap;

}

.headerlogo {
  font-size: 24px;
}

ul {
  padding: 0;
  margin-left: auto;
  display: flex;
  gap: 10px;
}

/* Main */
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro img {
  max-height: 300px;
  flex: 0;
  margin-left: 30px;
}

.head {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0;
}

.head .text {
  font-size: 18px;
}


.facts {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  font-size: 36px;
  font-weight: bold; 
  text-align: center;
}

.facts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fact-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fact-item img {
  width: 80px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 30px;
  font-style: italic;
}

.cite {
  font-weight: bold;
  text-align: right;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.signup .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

.signup button {
  display: flex;
}

/* Footer */
footer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}
