@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  background-color: #1F2937;
  margin: 0;
}

/* Header */
header {
  display: flex;
  align-items: baseline;
  padding: 10px;
  flex-wrap: wrap;
  color: white;
}

.headerlogo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  padding: 0;
  margin-left: auto;
  display: flex;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Main */
main {
  flex: 1;
}

.intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  place-content: center;
  flex-wrap: wrap;
  padding: 0 80px;
  margin: 50px 40px;
}

.intro img {
  max-height: 300px;
  flex: 0;
  margin-left: 30px;
}

.head {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0;
}

.head .text {
  font-size: 18px;
  color: #E5E7EB;
}

.facts {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h2 {
  font-size: 36px;
  font-weight: bolder; 
  text-align: center;
  color: #1F2937;
}

.facts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.fact-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fact-item img {
  width: 80px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
  background-color: #E5E7EB;
}

.quote {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 10px;
  color: #28303a;
}

.cite {
  font-weight: bold;
  text-align: right;
  margin-left: auto;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
}

.signup .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 30px 20px;
  margin: 20px 20px;
  flex: 1;
  gap: 10px;
  background-color: #3882F6;
  color: #E5E7EB;
}

button {
  border-radius: 5px;
  padding: 4px 20px;
  border: 2px solid #3882F6;
  background-color: #3882F6;
  color: white;
}

.signup button {
  border-color: white; 
}

/* Footer */
footer {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 20px;
  color: white;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}
